* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

a.link-menu{
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
  padding: 0;
}

.background-body {
  background: url('../images/fundo.jpg');
  background-size: cover;
  position: relative;
  min-height: 100vh;
  min-width: 100%;
  padding: 8%;
}

.body {
  margin: 0;
  padding: 0;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.menu {
  float: left;
  background-color: #5077fb;
  height: 700px;
  width: 250px;
  
}

.center {
  text-align: center;
}

.col-9.content {
  padding-left: 20px;
}

#icon-download{
  height: 12px;
}

.link-menu a {
  line-height: 1.5px;
  letter-spacing: 0.3px;
  color: white;
  text-decoration: none;
  font-size: 12px;
  text-align: justify;
}

.link-menu img {
  max-width: 12px;
}

.link-menu{
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  border-bottom: #6285fb 0.2px solid;
  text-decoration: dashed;
}
.link-menu a:hover {
  color: #ffe000;
}

.search {
  margin-top: 15px;
  padding: 10px;
}

input#input-search {
  background-color: #5077fb;
  color: white;
}

input#input-search::placeholder {
  color: #ffffffb0;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  /* line-height: 0.5px; */
  letter-spacing: 0.3px;
}

span#icon-download {
  float: right;
  padding-right: 30px;
}

/* CSS mobile */

@media only screen and (max-width: 800px) {
  .logo {
    max-width: 100px;
  }
  .menu {
    display: none;
  }
}

@media only screen and (min-width: 800px) {
  .mobile {
    display: none;
  }
  .logo {
    padding: 22% 10% 22% 10%;
    font-size: 12px;
    color: white;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.3px;
    line-height: 2.5em;
    border-bottom: #6285fb 0.2px solid;
  }
}

.modal-menu {
  width: 300px;
  height: 100%;
}
.modal-menu .modal-content {
  width: 300px;
}
.list-group-item:hover {
  background-color: blue !important;
}
