* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}
body {
  margin: 0;
  padding: 0;
}

.background-body {
  background: url('../images/fundo.jpg');
  background-size: cover;
  position: relative;
  min-height: 100vh;
  min-width: 100%;
}

@media only screen and (max-width: 800px) {
  .logo {
    max-width: 100px;
  }
}

@media only screen and (min-width: 800px) {
  .mobile {
    display: none;
  }
}

.modal-menu {
  width: 300px;
  height: 100%;
}
.modal-menu .modal-content {
  width: 300px;
}
.list-group-item:hover {
  background-color: blue !important;
}
