* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 5px;
  background: #5077fb;
  -webkit-box-shadow: inset 0 0 5px #19202b; 
  width: 10px;
}

body {
  margin: 0;
  padding: 0;
}


.body {
  margin: 0;
  padding: 0;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.center {
  text-align: center;
}

.rigth {
  float: right;
}

.left{
  float: left;
}

.pointer{
  cursor: pointer;
  color: #5077fb;
}



.menu {
  float: left;
  background-color: #5077fb;
  height: 100%;
  max-height: 700px;
  width: 250px;
}

#icon-download{
  height: 12px;
  padding-top: 8px;
}

.desktop .col-4 {
  width: 250px;
}

.link-menu a {
  line-height: 1.5px;
  letter-spacing: 0.3px;
  color: white;
  text-decoration: none;
  font-size: 12px;
  text-align: justify;
}

.link-menu img {
  max-width: 12px;
}


.link-menu{
  padding-top: 10px;
  font-family: 'Poppins', sans-serif;
  border-bottom: #6285fb 0.2px solid;
  margin-top: 10px;
}

.link-menu a:hover {
  color: #ffe000;
}

.search {
  margin-top: 15px;
  padding: 10px;
}

input#input-search {
  background-color: #5077fb;
  color: white;
  border-radius: 5px;
  border: solid 0.5px #ffffff24;
  margin-left: 20px;
  margin-right: 20px;
}

input#input-search::placeholder {
  color: white;
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.3px;
}

.submit-lente {
  font-size: 12px;
  color: white;
  position: absolute;
  top: 10px;
  right: 35px;
  z-index: 0;
  border: none;
  background: transparent;
  outline: none;
}

.title-menu {
  margin-bottom: 5px;
}

#icon-download {
  font-size: 10px;
  float: right;
  padding-right: 30px;
}

.higthlights img {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  border: 2px solid #05151c;
  margin: 5px 0px 10px 0px;
}

.higthlights .col-2 {
  margin: 0 5px 0 5px;
}


.title-menu h3 {
  font-size: 12px;
  float: left;
  color:white;
  font-family: 'Poppins', sans-serif;
  margin-left: 10px;
}

.container.social-midia {
  margin: 20px 0 15px 0;
}

.container.social-midia a {
  font-size: 12px;
  color: white;
  border: 1px solid #ffffff52;
  padding: 5px 8px 5px 8px;
  border-radius: 15%;
}

.social-midia .col {
  padding: 0;
  margin: 0px;
}

.social-midia .col-1 {
  margin: 0px 5px 10px 8px;
}

.social-midia a:hover {
  color: #ffe000;
  border-color: #ffe000;
}


/* css do conteudo */

.conteudo{
  overflow-y: scroll;
  max-height: 700px;
}


.conteudo:hover{
  overflow-y: auto;
}

.home{
  margin: 0 10px 0 10px;
  background-color: #19202b;
  height: 100%;
  max-height: 700px;
  width: 100%;
  position: relative;
}

.foto-gabriel{
  position: absolute;
  top: 10%;
  left: 38%;
}

#foto-gabriel {
  border-radius: 100%;
  width: 200px;
  margin-top: 150px;
}

.home .content {
  margin-top: 15%;
  font-family: "Montserrat", sans-serif;
  color: white;
  line-height: 1.6px;
  letter-spacing: 1.3px;
  font-weight: 400;
}

.education {
  margin: 0 10px 0 10px;
  background-color: #19202b;
  min-height: 100%;
  width: 100%;
  position: relative;
}

h2.title {
  padding-top: 10%;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: #5077fb;
  line-height: 1.6px;
  letter-spacing: 1.3px;
  margin: 10px 0 50px 0 ;
}

.box {
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.3px;
  font-weight: 600;
}

.box h4{
  font-weight: 600;
  padding: 0;
  margin: 0;
  font-size: 16px;
}
.box-title {
  background-color: white;
  text-align: left;
  color: #5077fb;
  padding: 15px 20px 15px 20px;
  border-radius: 2px;
}

.box-content {
  display: none;
  font-size: 14px;
  margin: 0;
  padding: 15px;
  background-color: #f1f2f5;
  border-radius: 2px;
  margin-top: -2px;
}

.box-content a {
  text-decoration: none;
}

.box-content a:hover {
  text-decoration: none;
  color: #ffe000;
}

.ed{
  cursor: pointer;
}

.project {
  margin: 10px 10px 0 10px;
  background-color: #19202b;
  min-height: 700px;
  width: 100%;
  padding: 10px;
  color: white;
}

.project img {
  padding: 30px;
}

.project .col-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.project .carousel {
  overflow: hidden;
  padding: 59% 0% 0% 0;
  position: relative;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
  margin-top: 10%;
}

.slide{
  position: relative;
}

.pointer{
  cursor: pointer;
  color: #5077fb;
}

.icon-slide {
  position: absolute;
  bottom: 40px;
  right: 45px;
}

.icon-slide span {
  color: #5077fb;
  background-color: white;
  padding: 5px;
  margin: 0px;
  border: none;
  border: 1px solid #5078fb47;
}

.icon-slide span:hover {
  cursor: pointer;
  color: white;
  background-color: #5077fb;
  padding: 5px;
  margin: 0px;
}

.icon-slide a {
  text-decoration: none;
}

.icon-slide a {
  text-decoration: none;
}


.work {
  margin: 10px 10px 0 10px;
  background-color: #19202b;
  min-height: 100%;
  width: 100%;
  padding: 10px;
  color: white;
}

.work img {
  padding: 30px;
}


.work .col-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}


.work .carousel {
  overflow: hidden;
  padding: 59% 0% 0% 0;
  position: relative;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
  margin-top: 10%;
}

.work .col-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.carrosel-work {
  color: white;
}

.gallery {
  margin: 0 10px 0 10px;
  background-color: #19202b;
  height: 700px;
  width: 100%;
}

.gallery h2{
  margin-bottom: 30px;
}

.container.row.images-gallery {
  margin-top: 5%;
}

.gallery .col-4 img {
  width: auto;
  height: 20%;
}

.contact{
  margin: 10px 10px 0 10px;
  background-color: #19202b;
  min-height: 100%;
  width: 100%;
  position: relative;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 14px;
  text-align: left;
  letter-spacing: 1.3px;
  font-weight: 400;
}


.col-6.content-social-midia {
  color: #5077fb;
  padding: 60px 20px;
}

li.social {
  padding: 8px 0px;
}

.icon-contato i {
  background: #5077fb;
  border-radius: 10px;
  padding: 5px;
  color: #181e29;
  font-weight: 400;
  margin-right: 2px;
}



.blue{
  padding: 60px 30px;
}


.blue input{
  width: 100%;
  margin: 10px 0px;
  padding: 10px;
  border: solid 0.5px;
  border-color: rgba(255, 255, 255, 0.45);
  border-radius: 2px;
  background-color: #5077fb;;
}

.blue textarea{
  width: 100%;
  margin: 10px 0px;
  padding: 10px;
  border: solid 0.5px;
  border-color: rgba(255, 255, 255, 0.45);
  border-radius: 5px;
  background-color: #5077fb;;
}

.blue input::placeholder{
  color: white;
  font-size: 12px;
}

.blue textarea::placeholder{
  color: white;
  font-size: 12px;
}
.blue h3{
  font-size: 18px;
}

.stars {
  font-size: 18px;
  margin: 10px;
}

.stars a {
  text-decoration: none;
  color: white;
}

#submit{
  color: white;
  background-color: #f5f5f50f;
  width: 30%;
  padding: 10px;
}


input#submit:hover {
  background-color: #f8f9fa;
  color: #5077fb;
  border: 0.5px solid #5077fb;
}

.frase {
  margin-top: 30px;
  font-family: 'Caveat', cursive;
}

.copyrigth-content {
  padding: 60px;
  background-color: #000000;
  font-size: 18px;
  font-family: 'Montserrat';
  line-height: 2.5;
  letter-spacing: 1.3px;
}

.container.contact {
  padding: 0px 10px;
}

span.copyrigth {
  color: white;
}

span.name {
  margin-top: 5px;
  color: #5077fb;
}

span#text-name {
  line-height: 2.5;
  font-family: 'Montserrat';
}

span#frase-name {
  font-size: 20px;
}


/* CSS mobile */

@media only screen and (max-width: 800px) {

  .home h1 {
    font-size: 25px;
    line-height: 1.5;
  } 
  
  .home h3 {
    font-size: 20px;
    line-height: 1.5;
  } 
  
  .desktop-menu {
    display: none;
  }

  .modal-content {
    background-color: #5077fb;
  }

  .logo-modal {
    width: auto;
    color: rgb(255, 255, 255);
    font-size: 12px;
    text-align: center;
  }

  .modal-header {
    height: 50px;
  }

  .modal-body {
    padding-top: 0;
  }

  .modal-footer {
    height: 50px;
  }

  .menu-modal-footer {
    float: right;
    font-size: 20px;
    color: white;
    padding-right: 20px;
  }

  .mobile {
    background-color: #19202b;
    border-bottom: #ffffff59 0.5px solid ;
  }

  .modal-header {
    border-color: #ffffff00;
  }

  .logo-modal.center img {
    height: 54px;
    padding: 0px;
    margin-bottom: 10px;
  }
  
  button.open-menu {
    font-size: 18px;
    padding: 5px 12px 5px 12px;
    border-radius: 2px;
    background-color: #19202b;
    border: #ffffff59 0.2px solid;
    color: white;
  }


  .background-body {
    margin: 0;
    background: url('../images/fundo.jpg');
    position: relative;
    min-height: 100vh;
    min-width: 100%;
  }

  .logo {
    max-width: 70px;
  }

  .conteudo {
    overflow-y: scroll;
    height: auto;
    width: auto;
  }

  .foto-gabriel {
    position: absolute;
    top: -84px;
    left: 30%;
  }

  #foto-gabriel {
    border-radius: 100%;
    width: 140px;
    margin-top: 150px;
  }

  .home {
    background-color: #19202b;
    height: auto;
    max-height: 700px;
    width: 100%;
    position: relative;
    margin: 10px 0 0 0;
  }

  .home .content {
    margin-top: 35%;
    padding: 10px;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    color: white;
    line-height: 1.6px;
    letter-spacing: 1.3px;
    font-weight: 400; 
  }

  h2.title {
    padding-top: 10%;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #5077fb;
    line-height: 1.5;
    letter-spacing: 1.3px;
    margin: 10px;
  }

  .education {
    background-color: #19202b;
    min-height: 700px; 
    width: 100%;
    position: relative;
    margin: auto;
  }

  .box h4 {
    font-weight: 600;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 1.5;
  }

  .work {
    background-color: #19202b;
    min-height: 700px;
    width: 100%;
    padding: 10px;
    color: white;
    margin: 10px auto;
  }

  .project {
    margin: 10px auto;
    background-color: #19202b;
    min-height: 700px;
    width: 100%;
    padding: 10px;
    color: white;
  }

  
  .project .col-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0px;
  }

  .work .col-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0px;
  }

  .container.contact {
    padding: 0px 10px;
    width: 100%;
    margin: 10px auto;
}

  .col-6.content-social-midia {
    color: #5077fb;
    padding: 60px 20px;
    width: auto;
    font-size: 10px;
  }

  .blue {
    width: 100%;
    background-color: #5077fb;
  }

  .gallery {
    margin: 0 10px 0 10px;
    background-color: #19202b;
    min-height: 100%;
    width: 100%;
    margin: auto;
  }

  .desktop .col-4 {
    width: 50%;
    margin: 0;
    padding: 10px;
  }

  .copyrigth-content {
    padding: 20px;
    background-color: #000000;
    font-size: 13px;
    font-family: 'Montserrat';
    line-height: 2.5;
    letter-spacing: 1.3px;
   }


}

@media only screen and (min-width: 800px) {

  .mobile {
    display: none;
  }

  .logo {
    padding: 15% 10px 15% 10px;
    font-size: 12px;
    color: white;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.3px;
    line-height: 2.5em;
    border-bottom: #6285fb 0.2px solid;
  }

  .background-body {
    margin: 0;
    padding: 10px 20px 10px 120px;
    background: url('../images/fundo.jpg');
    background-size: cover;
    position: relative;
    min-height: 100vh;
    min-width: 100%;
  }

  .contact .row {
    background: linear-gradient( 90deg, #19202b 50%, #5077fb 50%);
  }

}

.modal-menu {
  width: 300px;
  height: 100%;
}
.modal-menu .modal-content {
  width: 300px;
}
.list-group-item:hover {
  background-color: blue !important;
}

.pointer:hover {
  border: #ffffff42 1px solid;
  padding: 10px;
  border-radius: 50%;
}